apiVersion: apps/v1
kind: Deployment
metadata:
  name: bloggingapp-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: bloggingapp
  template:
    metadata:
      labels:
        app: bloggingapp
    spec:
      containers:
        - name: bloggingapp
          image: 626635422668.dkr.ecr.us-east-1.amazonaws.com/fullstack-blogging-app:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: bloggingapp-service
spec:
  selector:
    app: bloggingapp
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
  type: LoadBalancer
